@model StartAppModel.MailConfigs

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MailConfigs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SmtpHost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SmtpHost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SmtpPort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SmtpPort)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SmtpEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SmtpEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SmtpPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SmtpPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BccMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BccMail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FromMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FromMail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisplayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisplayName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
