@model IEnumerable<StartAppModel.Categories>
@{
    ViewBag.Title = "PlacesCategories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>@ViewBag.SelectedPlace.Name Categories</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <input name="status" onclick="changeStatus(this.value,this.checked)" type="checkbox" checked="@item.adminTempSelect" value="@item.Id" />
            </td>
        </tr>
    }

</table>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    function changeStatus(m, c) {
        $.ajax({
            url: '@Url.Action("ChangeStatus")',
            type: "POST",
            dataType: "json",
            data: { id: @ViewBag.SelectedPlace.Id, catId:m, status:c },
            success: function (data) {
                console.log(data);
                //if (data.result == 1)
                //    alert(data.message);
                //else
                //    alert("Onaylama Başarısız!");
            },
            error: function (data) {
                console.log(data);
            }
        });
    }
</script>

